---
import BarraNav from "../components/BarraNav.astro"
import Estudios from "../components/Estudios.astro"
import Referencia from "../components/Referencia.astro"
import Saludo from "../components/Saludo.astro"
import Skills from "../components/Skills.astro"
import Trabajo from "../components/Trabajo.astro"
import Layout from "../layouts/Layout.astro"
import Proyecto from "../components/Proyectos.astro"
---

<Layout>
	<section id="inicio" class="h-screen p-[30px]">
		<div class="flex justify-end gap-[20px]">
			<div class="flex items-center flex-col text-[#1D8EC2] font-jaro font-bold">
				<p class="text-[35px]">Hugo's Blog</p>
				<p>Seville, Spain</p>
			</div>
			<img class=" flex h-[55px]" src="../../public/Icono Perfil.png" alt="">
		</div>
		<div class="flex flex-col gap-[45px] ml-[40px] text-[#F5F5F5] font-bold">
			<BarraNav/>
			<div class="flex gap-[300px]">
				<div class="flex flex-col gap-[40px]">
					<h1 class="flex gap-[10px]  text-[25px] font-jetBrains">
							Hi there, I'm <span class="text-[#76D42F]">Hugo</span><Saludo size=120px/>
					</h1>
						<p class="text-[25px] font-jetBrains w-[650px]">I'm passionate about sports.<br>
							I'm studying <span class="text-[#76D42F]">Web Application Development</span>,
							and the part I enjoy the most is Front-end
							development because I'm creative, and I find it
							fascinating to be able to create things.</p>
						<div class="flex gap-[15px]">
							<a href="https://github.com/Hugojm2510?tab=repositories"><img class="h-[50px]" src="../../public/icono Github.webp" alt=""></a>
							<a href="https://www.instagram.com/jimeenez_sw17/"><img class="h-[50px]" src="../../public/Icono IG.webp" alt=""></a>
						</div>
				</div>
				<div>
					<img class="w-[300px] rounded-[100px]" src="../../public/Personal.jpg" alt="">
				</div>
			</div>				
		</div>
	</section>

	<Estudios />
	<Skills />
	<Trabajo />
	<Proyecto />
	<Referencia />

	<section>
		<div></div>
	</section>
	

</Layout>