---
import referencia from "../data/referencia.json"
---

<section id="Referencia" class="h-screen flex flex-col gap-[35px]">
    <h1 class="flex justify-center text-[#76D42F] text-[35px] font-jaro"><a href="#inicio">REFERENCES</a></h1>
    <div class="flex flex-col items-center gap-[40px] text-[#f5f5f5]">
        <p class="font-jetBrains">{referencia.datos.principio}</p>
        <img class="rounded-full max-w-[250px] leading-[1.5]" src="../../public/joaKING.png" alt="">
        <p class="font-jetBrains text-center w-[600px] text-[20px]">"{referencia.datos.parrafo}"</p>
        <p class="font-jetBrains">{referencia.datos.nombre}</p>
        <p class="font-jetBrains">{referencia.datos.profesor}</p>
    </div>
</section>